<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> LMS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/../Public/style_course.css">
  <link rel="stylesheet" href="/../Public/style.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>
  <div class="sidebar close_1">
    <div class="logo-details">
      <i class='bx bxs-chalkboard'></i>
      <span class="logo_name">LMS</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bxs-dashboard'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/adminCourses">
            <i class='bx bx-collection'></i>
            <span class="link_name">Courses</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Courses</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="/adminViewCourse/<%= courseName.CRN %>/assessments">
          <i class='bx bx-task'></i>
          <span class="link_name">Assesments</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Assesments</a></li>
        </ul>
      </li>

      <li>
        <a href="/adminViewCourse/<%= courseName.CRN %>/materials">
          <i class='bx bx-notepad'></i>
          <span class="link_name">Materials</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Materials</a></li>
        </ul>
      </li>

      <li>
        <a href="/adminViewCourse/<%= courseName.CRN %>/grades">
          <i class='bx bx-bar-chart'></i>
          <span class="link_name">Grades</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Grades</a></li>
        </ul>
      </li>

      <li>
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="link_name">Log Out</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Log Out</a></li>
        </ul>
      </li>

    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <%= courseName.courseName %>
    </div>
    <!-- <section class="home-section"> -->
    <!-- <section class="middleR"> -->
    <!-- <section class="title">
          <div class="titleContainer">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./main.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="./courses.html">Courses</a></li>
                <li class="breadcrumb-item"><a href="./course1.html">Course 1</a></li>
              </ol>
            </nav>
          </div>
        </section> -->
    <!-- <section class="assesmentMainContainer"> -->
    <h1 style="text-align: center;padding-top: 10px;">Materials</h1>
    <div class="assesmentMainSmallContainer">
      <!-- <div class="assesmentContainer"> -->
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Material</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"><a href="#">Material Name</a></td>
            <td>this is quiz 1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- </div> -->
    <!-- </section> -->
    <!-- </section> -->
    <!-- </section> -->
    <!-- <div class="home-content"> -->
    <!-- <h1 style="text-align: center;padding-top: 10px;"></h1> -->
  </section>

  <script src="/../Public/sidebar.js" defer></script>

  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>

</html>