<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">*/%>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>

    <% if(messages.usernameConflict) { %>
        <li><%= messages.usernameConflict %></li>
        <% } %>

    <% if(messages.emailConflict) { %>
        <li><%= messages.emailConflict %></li>
        <% } %>

    <ul>
        <% if(typeof messages.validationErrors != 'undefined') {%>
            <% for(let i = 0; i < messages.validationErrors.length; i++) { %>
                <li><%=messages.validationErrors[i]%></li>
            <% } %> <% } %>
    </ul>

    <form action="/register" method="POST">
        <div>
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        </div>

        <div>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        </div>

        <div>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>

        <div>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        
        <div>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <div>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm Password">
        </div>

        <h2>Select each class you would like to register for:</h2>
        <div>
            <input type="checkbox" name="course_OOP" id="course_OOP" value="OOP" checked> <label for="course_OOP">Object Orientated Programming</label>
        </div>
        <div>
            <input type="checkbox" name="course_Algorithms" id="course_Algorithms" value="Algorithms" checked> <label for="course_Algorithms">Algorithms and Advanced Data Structures</label>
        </div>
        <div>
            <input type="checkbox" name="course_Structured" id="course_Structured" value="Structured" checked> <label for="course_Structured">Structured Programming</label>
        </div>
        <div>
            <input type="checkbox" name="course_Database" id="course_Database" value="Database" checked> <label for="course_Database">Database Systems</label>
        </div>

        <div>
            <input type="submit" value="Register">
        </div>

        <div>
            <a href="/login">Already registered? Login here</a>
        </div>
    </form>
</body>
</html>