@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f9ff;
}
.wrapper {
  position: relative;
  /* max-width: 430px; */
  max-width: 532px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 30px;
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box {
  height: 52px;
  /* margin: 64px 0; */
  margin-bottom: 60px;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 0.5px solid #c7bebe;
  border-bottom-width: 1.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #4070f4;
}
form .policy {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button_1 input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
  font-size: 17px;
}
.input-box.button_1 input:hover {
  background: #0e4bf1;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

.selectDiv {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectDivOriginal {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.registerDiv {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-select {
  width: 90%;
}

.item {
  width: 100%;
}
