html {
  width: 100%;
  height: 100%;
}

/*#262626　この色使う*/

body {
  /*width: 1500px;
    height: 2000px;*/
  background-size: cover;
  background-color: #ffffff;
  /* color: #ffffff; */
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.top {
  width: 1420px;
  height: 70px;
  display: flex;
}

.topL {
  width: 200px;
  height: 70px;
  background-color: #262626;
}

.topL p {
  font-size: 40px;
  margin-top: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.topR {
  width: 1220px;
  height: 70px;
  background-color: #2f7996;
  display: flex;
  flex-direction: row-reverse;
}

.topR .notificationContainer {
  width: 60px;
  height: 70px;
}

.notificationLogo {
  width: 60px;
  height: 69px;
}

.topR p {
  color: #000000;
}

.middleContainer {
  width: 100%;
  height: 700px;
  display: flex;
}

.sideBar {
  width: 200px;
  height: 800px;
  background-color: #2f7996;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*border: 1px solid #ffffff;*/
}

.sideBox1 {
  width: 198px;
  height: 70px;
  border-top: 0px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sideBox1 a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.sideBox1 P {
  font-size: 15px;
  line-height: 12px;
  color: white;
}

.middleR {
  width: 1220px;
  height: 700px;
  flex-wrap: wrap;
}

.title {
  width: 1220px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  align-items: center;
}

h2 {
  font-size: 15px;
  color: #000000;
  line-height: normal;
  margin: 5px 0;
}

.mainContainer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* registration */
.userEntryRegister {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.userEntryBoxRegister {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  padding: 20px 100px;
}

.form label {
  color: #000000;
}
/* End of Registration */

/* login */
.userEntry {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.userEntryBox {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  padding: 20px 100px;
}

/* できてない　*/
.userEntryBox label {
  color: black;
  font-size: 15px;
}

select {
  width: 335px;
  height: 43px;
  color: #707070;
}

.userEntryBox .agreementBox {
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
}

.userEntryBox input {
  width: 258.63px;
  height: 34.14px;
}

.submitButton {
  background-color: #000000;
  width: 259px;
  height: 55px;
}

.saveBottonP p button {
  color: white;
  text-decoration: none;
}
/* end of login */

.mainSmallContainer {
  width: 473px;
  height: 300px;
  background-color: #ffffff;
  border: 5px solid #2f7996;
  margin: 25px;
}

.coursesContainer {
  width: 473px;
  height: 70px;
  border-bottom: 1px solid #000000;
}

.coursesContainer h3 {
  font-size: 20px;
  color: #000000;
  margin: 0px;
  padding-top: 15px;
  padding-left: 10px;
}

.coursesContainer p {
  font-size: 15px;
  margin: 0px;
  color: #000000;
  padding-left: 10px;
}

.courseName {
  width: 473px;
  height: 57.5px;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
}

.logoContainer {
  width: 50px;
  height: 57.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30px; /* ※縦横を同値に */
  height: 30px; /* ※縦横を同値に */
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
  background-position: left top; /* 横長画像の左上を基準に表示 */
  display: inline-block; /* 複数の画像を横に並べたい場合 */
}

.courseName a:hover {
  color: #ffffff;
}

.courseName a {
  padding-left: 10px;
}

.courseName p:hover {
  border-bottom: 1px solid #000000;
}

.time {
  width: 150px;
  height: 57.5px;
  margin-left: 300px;
}

.courseName p {
  font-size: 15px;
  margin: 0px;
  color: #000000;
  padding-top: 20px;
  padding-left: 10px;
  text-decoration: none;
}

.viewMore {
  width: 473px;
  height: 47.5px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
}

.viewContainer {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 10px;
  padding-right: 10px;
}

.viewContainer:hover {
  background-position: 99% 50%;
}

.viewMore p {
  font-size: 15px;
  margin: 0px;
  padding-right: 10px;
  color: #000000;
}

.checkAvailability {
  width: 473px;
  height: 47.5px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
}

.checkAvailabilityContainer {
  width: 180px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 10px;
  padding-right: 10px;
}

.checkAvailabilityContainer:hover {
  background-position: 99% 50%;
}

.checkAvailabilityContainer p {
  font-size: 15px;
  margin: 0px;
  padding-right: 10px;
  color: #000000;
}

.whitesection {
  width: 100%;
  height: 48px;
  background-color: #2f7996;
  opacity: 30%;
}

.whiteContainer {
  width: 1000px;
  height: 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.whiteContainer p {
  color: #000000;
  opacity: 100%;
  font-size: 12px;
  margin: 0;
}

.greenSection {
  width: 100%;
  height: 85.13px;
  background-color: #2f7996;
}

.greenContainer {
  width: 1000px;
  height: 85.13px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.bottomNav .bnav {
  height: 30px;
  display: flex;
  margin-top: 0;
}

.bottomNav .bnav li {
  padding: 0 16px;
  font-size: 15px;
  list-style: none;
}

.bottomNav .bnav li:first-child {
  padding-left: 0;
}

.bottomNav .bnav li a {
  color: #ffffff;
  text-decoration: none;
}

.bottomNav .bnav li a:hover {
  border-bottom: 1px solid #ffffff;
}

.bottomNav .bnav li + li {
  border-left: 1px solid;
}

.navLogo {
  display: flex;
  justify-content: space-between;
}

.login {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.copyRight {
  margin-top: 22.2px;
}

.copyRight p {
  margin: 0;
  color: white;
  font-size: 10px;
  line-height: 12px;
}

/* course list */

.courseList {
  /* background-color: #ffffff; */
  /* border: 5px solid #2f7996; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
}

.courseList > div {
  /* flex: 30%; */
  margin: 10px;
  flex-basis: 100%;
}

.courseLogo {
  height: 100px;
}

.courseLogo p {
  margin: 0px;
  padding-left: 10px;
  color: black;
}

.classLogo {
  width: 300px;
  height: 100px;
}

.courseNameForCourseList {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
}

.courseNameForCourseList p {
  margin: 0px;
  padding-left: 10px;
  color: black;
}

.courseSection {
  height: 25px;
  display: flex;
  align-items: center;
}

.courseSection p {
  margin: 0px;
  padding-left: 10px;
  font-size: 10px;
  color: #000000;
}

/* course 1 */

.courseTitle {
  width: 1220px;
  height: 700px;
}

.add_class_btn_1 {
  height: 30px;
  line-height: 25px;
  width: 30px;
  font-size: 2em;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #f9fafe;
  text-align: center;
  cursor: pointer;
}

.add_class_btn {
  --t: 2px; /* Thickness */
  --l: 40px; /* size of the symbol */
  --s: 10px; /* space around the symbol */
  --c1: #fff; /* Plus color*/
  --c2: #0d6efd; /* background color*/

  display: inline-block;
  width: var(--l);
  height: var(--l);
  padding: var(--s);
  box-sizing: border-box; /*Remove this if you don't want space to be included in the size*/

  background: linear-gradient(var(--c1) 0 0) content-box,
    linear-gradient(var(--c1) 0 0) content-box, var(--c2);
  background-position: center;
  background-size: 100% var(--t), var(--t) 100%;
  background-repeat: no-repeat;
}

.radius_1 {
  border-radius: 50%;
}
