<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> LMS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/../Public/style_course.css">
  <link rel="stylesheet" href="/../Public/style.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>

<body>
  <div class="sidebar close_1">
    <div class="logo-details">
      <i class='bx bxs-chalkboard'></i>
      <span class="logo_name">LMS</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class='bx bxs-dashboard'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/courses">
            <i class='bx bx-collection'></i>
            <span class="link_name">Courses</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/courses">Courses</a></li>
          </ul>
        </div>
      </li>

      <li>
        <a href="/tutor/tutorReservation">
          <i class='bx bx-calendar'></i>
          <span class="link_name">Tutor Reservations</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/tutor/tutorReservation">Tutor Reservations</a></li>
        </ul>
      </li>

      <li>
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="link_name">Log Out</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="logout">Log Out</a></li>
        </ul>
      </li>


      <li>
        <div class="profile-details">
          <div class="profile-content">
          </div>
          <div class="name-job">

          </div>
        </div>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
    </div>
    <!-- <section class="home-section"> -->
    <!-- <div class="home-content"> -->
    <!-- <h1 style="text-align: center;padding-top: 10px;">Course List</h1> -->

    <h1 style="text-align: center; padding-top: 10px;">Welcome!</h1>
    <section class="dashMainContainer">
      <div class="mainSmallContainer mainTopL">
        <div class="card" style="width: 463px; height: 290px">
          <div class="card-header">
            Student Profile
          </div>
          <% if (profile) { %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: <%= profile.firstName + " " + profile.lastName %> </li>
            <li class="list-group-item">Username: <%= profile.username %> </li>
            <li class="list-group-item">Email: <%= profile.email %></li>
          </ul>
          <% } %>
          <div class="viewMore">
            <div class="viewContainer">
              <a href="/logout">
                <button type="button" class="btn btn-primary">Log Out</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- </div> -->
    <!-- </section> -->
  </section>

  <script src="/../Public/sidebar.js" defer></script>

</body>

</html>